<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Deus</title>
    <link rel="stylesheet" href="../estilo/estilo.css"/>
</head>
<body>

    <a href="/">Lista de pessoas</a>

<form method="post" action="/pessoas/cadastrar"></form>
    <fieldset>
    <legend>Cadastrar pessoa: </legend>

    <label for="nome"><p>Nome: </p></label>
    <input type="text" name="nome" placeholder="Digite o nome." class="input-text"/>

    <label for="idade"><p>Idade: </p></label>
    <input type="text" value="idade" placeholder="Digite a idade." class="input-text"/>

    <label for="profissao"><p>Profissão: </p></label>
    <input type="text" name="profissao" placeholder="Digite a profissão." class="input-text"/>

    <input type="submit" value="Enviar" class="input-submit">
</form>
</fieldset>
</body>
</html>