<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Deus</title>
    <link rel="stylesheet" href="../estilo/estilo.css"/>
</head>
<body>

<form method="post" action="/pessoas/criar"></form>
    <fieldset>
    <legend>Cadastrar pessoa: </legend>

    <label for="nome">Nome: </label>
    <input type="text" name="nome" placeholder="Digite o nome." class="input-text"/>

    <label for="idade">Idade: </label>
    <input type="text" value="idade" placeholder="Digite a idade." class="input-text"/>

    <label for="profissao">Profissão: </label>
    <input type="text" name="profissao" placeholder="Digite a profissão." class="input-text"/>

    <input type="submit" onclick=""/>
</form>
</fieldset>
</body>
</html>