body {
    background-color: teal;
}

fieldset {
    width: 30%;
    margin: 0 auto;
    border: 2px inset black;
    border-radius: 3px;
}

.input-text {
  display: block;
  margin: ;
  padding: ;
  width: ;
  background-color: ;
  border: ;
}

.container {
    display: flex;
}

.card {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
}