body{
    width: 100%;
    height: 100%;
    background-color: black;
}

fieldset {
    width: 30%;
    margin: 150px 600px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #484D50;
}

legend {
    font-size: 30px;
    color: white;
}

.input-text {
  margin: 5px;
  width: 90%;
  height: 30px;
  background-color: silver;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
}

.input-submit {
    width: 50%;
    height: 30px;
    border: 1px solid black;
    color:white;
    background-color: #ff4040 ;
    font-size: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    align-items: center;
}

.card {
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 250px;
    background-color: #484D50;
    margin: 10px 50px;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
}

button {
    margin: 0 10px;
}

h1 {
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     font-size: 40px;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

fieldset {
    width: 30%;
    margin: 150px 600px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #484D50;
}

legend {
    font-size: 30px;
    color: white;
}

.input-text {
  margin: 5px;
  width: 90%;
  height: 30px;
  background-color: silver;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
}

.input-submit {
    width: 50%;
    height: 30px;
    border: 1px solid black;
    color:white;
    background-color: #ff4040 ;
    font-size: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    align-items: center;
}

.card {
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 250px;
    background-color: #484D50;
    margin: 10px 50px;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
}

button {
    margin: 0 10px;
}

h1 {
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     font-size: 40px;
}

